.container-header{
    max-width: 1300px;
    margin: 0 auto;
}

.calculation-form{
    margin: 0 auto;
    /*width: 89%;*/
    min-height: 615px;
    background-color: #dcdcdc;
    background-image: url("../images/gex.png");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: scroll ;
}

.cost-to{
    padding-top: 10px;
    min-height: 540px;
    border-radius: 5px;
    background-color: #ffffff;
    border-top: 5px solid red;
}
.cost-to-second{
    display: none;
    min-height: 540px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 35px;
    margin-bottom: 60px;
}
.header-red-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ce1111;
    height: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.header-red-line_text{
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
}

.calculation__text{
    font-size: 13px;
    color: #000000;
    text-align: left;
}
.calculation__text-bold{
    font-size: 13px;
    color: #000000;
    text-align: left;
    font-weight: 600;
}
.custom-select{
    border-radius: 0;
    background: url('../images/arrow.png') no-repeat right;
}
.calculation-form__text{
    text-align: left;
    margin: 10px 0 0 10px;
    padding-bottom: 20px;
}
.wrapper-select{
    margin-bottom: 10px;
}
.result{
    /*display: none;*/
}
.card-body{
    display: flex;
    justify-content: space-between;
}
.card-name{
    color: #666666;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
}
.card-price{
    color: #666666;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}
.strong{
    font-weight: 600;
}
.itogPrice{
    color: #666666;
    font-size: 16px;
    text-align: left;
}

.btn-link:hover, .btn-link:visited, .btn-link:focus{
    text-decoration: none;
}



.text-work{
    text-align: left;
    margin-left: 10px;
}
.mb-0{
    text-align: left;
}

.spanText{
    color: #666666;
    font-size: 16px;
    text-align: left;
}
#button{
    display: none;
    color: #ffffff;
    background-color: #ce1111;
    border-radius: 5px;
    padding: 15px 30px;
    border: 0;
}
#button:active, #button:focus {
    outline: none;
}
#buttonNew{
    display: none;
    color: #ffffff;
    background-color: #ce1111;
    border-radius: 5px;
    padding: 15px 30px;
    border: 0;
    margin-bottom: 20px;
}
#button:active, #button:focus {
    outline: none;
}
.div-button{
    padding: 20px 10px;
}


/*.calculation-form__text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.calculation-form__selects{
    display: flex;
    justify-content: space-around;
}
.select-brand{
    width: 200px;
}*/
