@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  line-height: 1.6;
  font-size: 15px; }

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%; }

.clear:after,
.clear:before {
  content: " ";
  display: block;
  clear: both; }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.main-content {
  max-width: 1920px;
  width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0 auto !important;
  background-position: center center !important; }

.header {
  margin-bottom: -1px; }

.logo {
  padding: 24px 0; }

.phone {
  text-align: center; }
  .phone ul {
    padding: 16px 0; }
    .phone ul li {
      list-style: none;
      margin-left: 46px; }
      .phone ul li a {
        font-family: 'Ubuntu', sans-serif;
        font-size: 17px;
        font-weight: 400;
        font-weight: 700;
        color: #ce1111;
        text-decoration: none; }

.nav-bar {
  text-align: center;
  background-color: #000000;
  position: relative;
  padding: 30px 0; }
  .nav-bar:before {
    content: ' ';
    width: 53px;
    height: 89px;
    background-color: #000;
    position: absolute;
    left: -27px;
    top: 0;
    transform: skewX(-0.06turn); }
  .nav-bar:after {
    content: ' ';
    width: 53px;
    height: 89px;
    background-color: #000;
    position: absolute;
    right: -31px;
    top: 0px;
    transform: skewX(-0.06turn); }
  .nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px; }
    .nav-bar ul li a {
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      letter-spacing: 1px; }
      .nav-bar ul li a:hover {
        color: #ce1111;
        border-bottom: 1px solid #ce1111;
        padding-bottom: 10px; }

.wrapper {
  max-width: 1920px;
  width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0 auto !important;
  background-position: center center !important;
  background-image: url("../images/mainBg.jpg");
  padding: 120px 0; }

.wrapper-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px; }

.wrapper-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px; }

.wrapper-btn a {
  padding: 20px 40px;
  display: inline-block;
  background-color: #ce1111;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none; }

.calculation-items {
  max-width: 1920px;
  width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0 auto !important;
  background-position: center center !important;
  background-image: url("../images/calcBg1.png");
  padding: 30px 0; }

.calculation-items-title p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-left: 85px; }

.calculation-items-box {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background-color: #e8e8e8; }
  .calculation-items-box:before {
    content: ' ';
    width: 34px;
    height: 108px;
    background-color: #e8e8e8;
    position: absolute;
    left: -20px;
    top: 0;
    transform: skewX(-0.04turn); }
  .calculation-items-box:after {
    content: ' ';
    width: 34px;
    height: 108px;
    background-color: #e8e8e8;
    position: absolute;
    right: -19px;
    top: 0px;
    transform: skewX(-0.04turn); }
  .calculation-items-box img {
    position: absolute;
    top: 26px;
    left: -64px; }

.calculation-items-box-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 40px 0; }

.calculation-items-numb {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1;
  z-index: 10; }

.calculation-form {
  text-align: center; }
  .calculation-form img {
    width: 105%; }

.about-us {
  max-width: 1920px;
  width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0 auto !important;
  background-position: center center !important;
  padding: 100px 0;
  background-image: url("../images/aboutBg.png"); }

.about-us-img img {
  width: 105%; }

.about-us-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1;
  color: #fff; }

.about-us-text p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px; }

.about-us-items-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  margin-bottom: 25px; }

.about-us-items-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #ffffff; }

.about-us-items {
  margin-top: 107px;
  position: relative; }

.about-us-items img {
  position: absolute;
  top: -15px;
  right: 8%;
  width: 25%; }

.reviews {
  background-color: #dcdcdc;
  padding: 100px 0;
  text-align: center; }

.reviews-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  margin-bottom: 30px; }

.slider {
  background-color: #fff;
  padding: 60px 70px; }

.rev {
  text-align: left; }
  .rev p:first-child {
    font-weight: 700;
    font-size: 24px; }
  .rev p {
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400; }

.cont-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 70px; }

.cont-list {
  margin-top: 70px;
  position: relative; }
  .cont-list li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    margin-top: 15px; }

.contact .col-md-4:first-child:after {
  content: ' ';
  width: 121px;
  height: 458px;
  background-color: #fff;
  position: absolute;
  right: -72px;
  top: 0px;
  transform: skewX(0.04turn);
  z-index: 10; }

.map:after {
  content: ' ';
  width: 273px;
  height: 458px;
  background-color: #ce1111;
  position: absolute;
  right: -121px;
  top: 0px;
  transform: skewX(0.04turn);
  z-index: 10; }

@media only screen and (max-width: 1024px) {
  .nav-bar ul li a {
    font-size: 13px; }
  .phone ul li {
    margin-left: 0; }
    .phone ul li a {
      font-size: 16px; }
  .nav-bar:before {
    display: none; }
  .nav-bar:after {
    display: none; }
  .logo img {
    width: 100%; }
  .calculation-items-title p {
    margin-left: 35px; }
  .calculation-items-box-title {
    padding: 20px 5px;
    font-size: 13px; }
  .calculation-items-numb {
    font-size: 20px; }
  .calculation-items-box:after {
    width: 27px;
    height: 60px; }
  .calculation-items-box:before {
    width: 27px;
    height: 60px; }
  .calculation-items-box img {
    top: 13px;
    left: -64px;
    width: 30%;
    height: 80%; } }
