@import vars.sass
  
  
*
  margin: 0
  padding: 0
  box-sizing: border-box



body 
  min-width: 320px
  margin: 0 auto 
  overflow-x: hidden
  position: relative
  line-height: 1.6
  font-size: 15px




.container 
  max-width: 1920px
  margin: 0 auto
  width: 100%


.clear:after,
.clear:before 
  content: " "
  display: block
  clear: both



.fade-in 
  opacity: 0
  -webkit-animation: fadeIn ease-in 1  
  -moz-animation: fadeIn ease-in 1
  animation: fadeIn ease-in 1

  -webkit-animation-fill-mode: forwards 
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards

  -webkit-animation-duration: 0.5s
  -moz-animation-duration: 0.5s
  animation-duration: 0.5s




.hidden
  opacity: 0

.visible 
  opacity: 1
