@media only screen and (max-width: 1024px)
  .nav-bar 
    ul 
      li 
        a
          font-size: 13px
  
  .phone 
    ul 
      li
        margin-left: 0 
        a
          font-size: 16px
  
  .nav-bar
    &:before
      display: none
    &:after 
      display: none
  .logo
    img 
      width: 100%
  
  .calculation-items-title 
    p
      margin-left: 35px

  .calculation-items-box-title
    padding: 20px 5px
    font-size: 13px
  
  .calculation-items-numb
    font-size: 20px
  
  .calculation-items-box
    &:after
      width: 27px
      height: 60px
    &:before
      width: 27px
      height: 60px

  .calculation-items-box 
    img
      top: 13px
      left: -64px
      width: 30%
      height: 80%
  