@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700')


$mc: 0 auto



=parentSetBg
  max-width: 1920px
  width: 100% !important
  background-size: cover !important
  background-repeat: no-repeat !important
  margin: 0 auto !important
  background-position: center center !important

=fontTitle($size)
  font-family: 'Ubuntu', sans-serif
  font-size: $size
  font-weight: 700

=fontReg($size)
  font-family: 'Ubuntu', sans-serif
  font-size: $size
  font-weight: 400